In [24]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import gmaps
import requests
import time
from config_googlemaps import gkey

In [25]:
data_2015 = "chronicle_data2015.csv"
data_2016 = "chronicle_data2016.csv"
data_2017 = "chronicle_data2017.csv"
data_2018 = "chronicle_data2018.csv"
latlong = "statelatlong.csv"

In [26]:
state_latlon = pd.read_csv(latlong, encoding = "ISO-8859-1")
state_latlon

   State_Abbreviation   Latitude   Longitude                 State
0                  AL  32.601011  -86.680736               Alabama
1                  AK  61.302501 -158.775020                Alaska
2                  AZ  34.168219 -111.930907               Arizona
3                  AR  34.751928  -92.131378              Arkansas
4                  CA  37.271875 -119.270415            California
5                  CO  38.997934 -105.550567              Colorado
6                  CT  41.518784  -72.757507           Connecticut
7                  DE  39.145251  -75.418921              Delaware
8                  DC  38.899349  -77.014567  District of Columbia
9                  FL  27.975728  -83.833017               Florida
10                 GA  32.678125  -83.222976               Georgia
11                 HI  20.460000 -157.505000                Hawaii
12                 ID  45.494576 -114.142430                 Idaho
13                 IL  39.739318  -89.504139              Illinois
14                 IN  39.766219  -86.441277               Indiana
15                 IA  41.938317  -93.389798                  Iowa
16                 KS  38.498779  -98.320078                Kansas
17                 KY  37.822294  -85.768240              Kentucky
18                 LA  30.973377  -91.429910             Louisiana
19                 ME  45.218513  -69.014866                 Maine
20                 MD  38.806352  -77.268416              Maryland
21                 MA  42.062940  -71.718067         Massachusetts
22                 MI  44.943560  -86.415805              Michigan
23                 MN  46.441859  -93.365515             Minnesota
24                 MS  32.585106  -89.877220           Mississippi
25                 MO  38.304662  -92.437099              Missouri
26                 MT  46.679800 -110.044783               Montana
27                 NE  41.500819  -99.680902              Nebraska
28                 NV  38.502032 -117.023060                Nevada
29                 NH  44.001231  -71.579923         New Hampshire
30                 NJ  40.143006  -74.731116            New Jersey
31                 NM  34.166232 -106.026069            New Mexico
32                 NY  40.705626  -73.979680              New York
33                 NC  35.214563  -79.891267        North Carolina
34                 ND  47.467882 -100.302266          North Dakota
35                 OH  40.190362  -82.669252                  Ohio
36                 OK  35.309765  -98.716558              Oklahoma
37                 OR  44.141905 -120.538099                Oregon
38                 PA  40.994593  -77.604698          Pennsylvania
39                 RI  41.582728  -71.506451          Rhode Island
40                 SC  33.625050  -80.947038        South Carolina
41                 SD  44.212699 -100.247164          South Dakota
42                 TN  35.830521  -85.978599             Tennessee
43                 TX  31.169336 -100.076842                 Texas
44                 UT  39.499761 -111.547028                  Utah
45                 VT  43.871755  -72.447783               Vermont
46                 VA  38.003386  -79.458786              Virginia
47                 WA  38.899349  -77.014567            Washington
48                 WV  38.920171  -80.181691         West Virginia
49                 WI  44.786297  -89.826705             Wisconsin
50                 WY  43.000325 -107.554567               Wyoming

In [27]:
#read to files
data_2015_pd = pd.read_csv(data_2015, encoding = "ISO-8859-1")
data_2016_pd = pd.read_csv(data_2016, encoding = "ISO-8859-1")
data_2017_pd = pd.read_csv(data_2017, encoding = "ISO-8859-1")
data_2018_pd = pd.read_csv(data_2018, encoding = "ISO-8859-1")

In [57]:
frames = [data_2015_pd, data_2016_pd, data_2017_pd, data_2018_pd]

big_df = pd.concat(frames)
big_df.head()

,Year,Donor,Where Donor Lives,Donor's Source of Wealth,Recipient,Recipient Location,Cause,Gift type,Gift Value
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000"
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000"
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000"
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000"
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000"

In [58]:
state_counts = big_df["Where Donor Lives"].value_counts()
state_counts.head()

California    428
New York      268
Texas         197
Florida       164
Illinois      131
Name: Where Donor Lives, dtype: int64

In [59]:
recipient_counts = big_df["Recipient Location"].value_counts()
recipient_counts.head()

California      394
New York        295
Texas           183
Florida         170
Pennsylvania    148
Name: Recipient Location, dtype: int64

In [31]:
renamed_df = big_df.rename(columns={"Where Donor Lives":"State"})
renamed_df.head()

,Year,Donor,State,Donor's Source of Wealth,Recipient,Recipient Location,Cause,Gift type,Gift Value
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000"
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000"
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000"
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000"
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000"

In [32]:
#adding Latitude and Longitude generalized for state locations of donors
coords = pd.merge(renamed_df, state_latlon, how="left", on=["State", "State"])
coords

,Year,Donor,State,Donor's Source of Wealth,Recipient,Recipient Location,Cause,Gift type,Gift Value,State_Abbreviation,Latitude,Longitude
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000",TX,31.169336,-100.076842
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000",NY,40.705626,-73.979680
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000",IL,39.739318,-89.504139
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000",NJ,40.143006,-74.731116
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000",NY,40.705626,-73.979680
5,2015,Stephen A. Schwarzman,New York,Investments,"Yale U. (New Haven, Conn.)",Connecticut,Colleges and universities,NaN,"$150,000,000",NY,40.705626,-73.979680
6,2015,Donald Sirkin,Washington,Construction,Lighthouse for the Blind and Visually Impaired...,California,Human and social services,Bequest,"$125,000,000",WA,38.899349,-77.014567
7,2015,Samuel Tak Lee,NaN,"Family wealth, Real estate",Massachusetts Institute of Technology (Cambridge),Massachusetts,Colleges and universities,Gift,"$118,000,000",NaN,NaN,NaN
8,2015,David Geffen,California,Entertainment,U. of California at Los Angeles,California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
9,2015,Gordon and Betty Moore,California,Technology,California Institute of Technology (Pasadena),California,Colleges and universities,Pledge Unrestricted,"$100,000,000",CA,37.271875,-119.270415
10,2015,Conrad T. Prebys,California,Construction,Sanford-Burnham Medical Research Institute (La...,California,Health,NaN,"$100,000,000",CA,37.271875,-119.270415
11,2015,Henry R. and Marie-JosÂŽe Kravis,New York,Finance,Rockefeller U. (New York),New York,Colleges and universities,NaN,"$100,000,000",NY,40.705626,-73.979680
12,2015,Marion Anderson,California,NaN,"U. of California at Los Angeles, Anderson Scho...",California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
13,2015,Rady Family Foundation (Ernest and Evelyn Rady),California,Real estate,"U. of California at San Diego, Rady School of ...",California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
14,2015,David Geffen,California,Entertainment,Lincoln Center for the Performing Arts (New York),New York,Arts,Gift,"$100,000,000",CA,37.271875,-119.270415
15,2015,Roberta Buffett Elliott,NaN,"Family wealth, Investments","Northwestern U. (Evanston, Ill.)",Illinois,Colleges and universities,Gift,"$100,000,000",NaN,NaN,NaN
16,2015,Louis A. Simpson and Kimberly K. Querrey,Florida,Insurance,"Northwestern U. (Evanston, Ill.)",Illinois,Colleges and universities,Gift,"$92,000,000",FL,27.975728,-83.833017
17,2015,Mark Zuckerberg and Priscilla Chan,California,Technology,San Francisco General Hospital Foundation,California,Health,Gift,"$75,000,000",CA,37.271875,-119.270415
18,2015,Fayez S. Sarofim,Texas,"Family wealth, Finance","Museum of Fine Arts, Houston",Texas,Arts,Gift,"$70,000,000",TX,31.169336,-100.076842
19,2015,Thompson Family Foundation (Wade F.B. Thompson),Ohio,Manufacturing,Park Avenue Armory (New York),New York,Historic preservation,Bequest,"$65,000,000",OH,40.190362,-82.669252
20,2015,Zell Family Foundation (Sam and Helen Zell),Illinois,"Finance, Hotels, Media and entertainment, Real...",U. of Michigan at Ann Arbor,Michigan,Colleges and universities,Pledge,"$60,000,000",IL,39.739318,-89.504139
21,2015,John and Rosemary Brown,Michigan,Health products,Auburn U. (Ala.),Alabama,Colleges and universities,NaN,"$57,000,000",MI,44.943560,-86.415805
22,2015,Miller family,Florida,Construction,"U. of Miami (Coral Gables, Fla.)",Florida,Colleges and universities,NaN,"$55,000,000",FL,27.975728,-83.833017
23,2015,Ray Dolby,California,Technology,U. of Cambridge (United Kingdom),NaN,Colleges and universities,Bequest,"$52,600,000",CA,37.271875,-119.270415
24,2015,Herbert and Florence Irving,New York,Food and beverage,"Columbia U., Herbert and Florence Irving Medic...",New York,Health,Gift,"$50,000,000",NY,40.705626,-73.979680
25,2015,Nancy and Ab Nicholas,Wisconsin,Finance,U. of Wisconsin Foundation (Madison),Wisconsin,Colleges and universities,Pledge,"$50,000,000",WI,44.786297,-89.826705
26,2015,Peter and Nancy Meinig,Oklahoma,"Finance, Investments","Cornell U. (Ithaca, N.Y.)",New York,Colleges and universities,NaN,"$50,000,000",OK,35.309765,-98.716558
27,2015,Anonymous,NaN,NaN,U. of California at San Francisco,California,Colleges and universities,NaN,"$50,000,000",NaN,NaN,NaN
28,2015,Dwight C. and Martha Schar,Florida,"Construction, Finance","Inova Health System (Falls Church, Va.)",Virginia,Health,NaN,"$50,000,000",FL,27.975728,-83.833017
29,2015,Benificus Foundation (John and Ann Doerr),California,Investments,Rice U. (Houston),Texas,Colleges and universities,NaN,"$50,000,000",CA,37.271875,-119.270415
...,...,...,...,...,...,...,...,...,...,...,...,...
3204,2018,Pine,NaN,NaN,Adventure Project (New York),New York,International,Gift,"$1,000,000",NaN,NaN,NaN
3205,2018,Pine,NaN,NaN,Free Software Foundation (Boston),Massachusetts,NaN,Gift,"$1,000,000",NaN,NaN,NaN
3206,2018,Pine,NaN,NaN,"Methuselah Foundation (Springfield, Va.)",Virginia,Health,Gift,"$1,000,000",NaN,NaN,NaN
3207,2018,Pine,NaN,NaN,Justice and Care (India),NaN,International,Gift,"$1,000,000",NaN,NaN,NaN
3208,2018,Pine,NaN,NaN,"OpenMRS (Carmel, Ind.)",Indiana,NaN,Gift,"$1,000,000",NaN,NaN,NaN
3209,2018,Pine,NaN,NaN,"Apache Software Foundation (Wakefield, Mass.)",Massachusetts,NaN,Gift,"$1,000,000",NaN,NaN,NaN
3210,2018,Pine,NaN,NaN,"Focus Foundation (Davidson, Md.)",Maryland,Health,Gift,"$1,000,000",NaN,NaN,NaN
3211,2018,Pine,NaN,NaN,Possible (New York),New York,International,Gift,"$1,000,000",NaN,NaN,NaN
3212,2018,Pine,NaN,NaN,"BitGive (Truckee, Calif.)",California,Foundations,Gift,"$1,000,000",NaN,NaN,NaN
3213,2018,Pine,NaN,NaN,New Story (San Francisco),California,International,Gift,"$1,000,000",NaN,NaN,NaN
3214,2018,Pine,NaN,NaN,Charity: Water (New York),New York,International,Gift,"$1,000,000",NaN,NaN,NaN
3215,2018,Pine,NaN,NaN,"SENS Research Foundation (Mountain View, Calif.)",California,Health,Gift,"$1,000,000",NaN,NaN,NaN
3216,2018,Pine,NaN,NaN,Internet Archive (San Francisco),California,Other groups,Pledge,"$1,000,000",NaN,NaN,NaN
3217,2018,Anonymous,NaN,NaN,U. of Illinois at Urbana-Champaign,Illinois,Colleges and universities,Gift,"$1,000,000",NaN,NaN,NaN
3218,2018,Derica Rice and Robin Nelson-Rice,Indiana,Pharmaceuticals,Center for Leadership Development (Indianapolis),Indiana,Children and youths,Gift,"$1,000,000",IN,39.766219,-86.441277
3219,2018,Boy and Betty Toy,Minnesota,NaN,"Gustavus Adolphus College (St. Peter, Minn.)",Minnesota,Colleges and universities,Gift,"$1,000,000",MN,46.441859,-93.365515
3220,2018,Whitney and Betty MacMillan,Minnesota,"Agriculture, Family wealth","McKee Botanical Garden (Vero Beach, Fla.)",Florida,Other groups,Gift,"$1,000,000",MN,46.441859,-93.365515
3221,2018,Tracy Ashlock,Washington,Engineering,U. of Kansas (Lawrence),Kansas,Colleges and universities,Gift,"$1,000,000",WA,38.899349,-77.014567
3222,2018,Denzel Washington,California,Media and entertainment,"Wiley College (Marshall, Tex.)",Texas,Colleges and universities,Pledge,"$1,000,000",CA,37.271875,-119.270415
3223,2018,Anonymous,NaN,NaN,"Mississippi Valley Conservancy (La Crosse, Wis.)",Wisconsin,Conservation and the environment,Gift,"$1,000,000",NaN,NaN,NaN
3224,2018,Anonymous,NaN,NaN,High Point U. (N.C.),North Carolina,Colleges and universities,Gift,"$1,000,000",NaN,NaN,NaN
3225,2018,Anonymous,NaN,NaN,High Point U. (N.C.),North Carolina,Colleges and universities,Gift,"$1,000,000",NaN,NaN,NaN
3226,2018,J.J. Abrams and Katie McGrath,California,Entertainment,National Women's Law Center (Washington),District of Columbia,Other groups,Gift,"$1,000,000",CA,37.271875,-119.270415
3227,2018,Pine,NaN,NaN,Quill (New York),New York,Education,Gift,"$1,000,000",NaN,NaN,NaN
3228,2018,Pine,NaN,NaN,Pencils of Promise (New York),New York,International,Gift,"$1,000,000",NaN,NaN,NaN
3229,2018,Pine,NaN,NaN,New Story (San Francisco),California,Human and social services,Gift,"$1,000,000",NaN,NaN,NaN
3230,2018,Pine,NaN,NaN,"Mona Foundation (Kirkland, Wash.)",Washington,International,Gift,"$1,000,000",NaN,NaN,NaN
3231,2018,Pine,NaN,NaN,Charity: Water (New York),New York,International,Gift,"$1,000,000",NaN,NaN,NaN
3232,2018,Pine,NaN,NaN,"Water Project (Concord, N.H.)",New Hampshire,International,Gift,"$1,000,000",NaN,NaN,NaN
3233,2018,Pine,NaN,NaN,Watsi (San Francisco),California,Health,Gift,"$1,000,000",NaN,NaN,NaN

In [33]:
latlng_df = coords.rename(columns={"Latitude":"Lat", "Longitude":"Lng"})
latlng_df.head()

,Year,Donor,State,Donor's Source of Wealth,Recipient,Recipient Location,Cause,Gift type,Gift Value,State_Abbreviation,Lat,Lng
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000",TX,31.169336,-100.076842
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000",NY,40.705626,-73.979680
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000",IL,39.739318,-89.504139
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000",NJ,40.143006,-74.731116
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000",NY,40.705626,-73.979680

In [34]:
latlng_df = latlng_df.dropna(how='any')

In [35]:
latlng_df.dtypes

Year                          int64
Donor                        object
State                        object
Donor's Source of Wealth     object
Recipient                    object
Recipient Location           object
Cause                        object
Gift type                    object
Gift Value                   object
State_Abbreviation           object
Lat                         float64
Lng                         float64
dtype: object

In [36]:
recipient_df = big_df.rename(columns={"Recipient Location":"State"})
recipient_df.head()

,Year,Donor,Where Donor Lives,Donor's Source of Wealth,Recipient,State,Cause,Gift type,Gift Value
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000"
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000"
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000"
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000"
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000"

In [37]:
#adding Latitude and Longitude generalized for state locations of recipients
recipient_coords = pd.merge(recipient_df, state_latlon, how="left", on=["State", "State"])
recipient_coords

,Year,Donor,Where Donor Lives,Donor's Source of Wealth,Recipient,State,Cause,Gift type,Gift Value,State_Abbreviation,Latitude,Longitude
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000",TX,31.169336,-100.076842
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000",MA,42.062940,-71.718067
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000",IL,39.739318,-89.504139
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000",NJ,40.143006,-74.731116
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000",NY,40.705626,-73.979680
5,2015,Stephen A. Schwarzman,New York,Investments,"Yale U. (New Haven, Conn.)",Connecticut,Colleges and universities,NaN,"$150,000,000",CT,41.518784,-72.757507
6,2015,Donald Sirkin,Washington,Construction,Lighthouse for the Blind and Visually Impaired...,California,Human and social services,Bequest,"$125,000,000",CA,37.271875,-119.270415
7,2015,Samuel Tak Lee,NaN,"Family wealth, Real estate",Massachusetts Institute of Technology (Cambridge),Massachusetts,Colleges and universities,Gift,"$118,000,000",MA,42.062940,-71.718067
8,2015,David Geffen,California,Entertainment,U. of California at Los Angeles,California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
9,2015,Gordon and Betty Moore,California,Technology,California Institute of Technology (Pasadena),California,Colleges and universities,Pledge Unrestricted,"$100,000,000",CA,37.271875,-119.270415
10,2015,Conrad T. Prebys,California,Construction,Sanford-Burnham Medical Research Institute (La...,California,Health,NaN,"$100,000,000",CA,37.271875,-119.270415
11,2015,Henry R. and Marie-JosÂŽe Kravis,New York,Finance,Rockefeller U. (New York),New York,Colleges and universities,NaN,"$100,000,000",NY,40.705626,-73.979680
12,2015,Marion Anderson,California,NaN,"U. of California at Los Angeles, Anderson Scho...",California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
13,2015,Rady Family Foundation (Ernest and Evelyn Rady),California,Real estate,"U. of California at San Diego, Rady School of ...",California,Colleges and universities,NaN,"$100,000,000",CA,37.271875,-119.270415
14,2015,David Geffen,California,Entertainment,Lincoln Center for the Performing Arts (New York),New York,Arts,Gift,"$100,000,000",NY,40.705626,-73.979680
15,2015,Roberta Buffett Elliott,NaN,"Family wealth, Investments","Northwestern U. (Evanston, Ill.)",Illinois,Colleges and universities,Gift,"$100,000,000",IL,39.739318,-89.504139
16,2015,Louis A. Simpson and Kimberly K. Querrey,Florida,Insurance,"Northwestern U. (Evanston, Ill.)",Illinois,Colleges and universities,Gift,"$92,000,000",IL,39.739318,-89.504139
17,2015,Mark Zuckerberg and Priscilla Chan,California,Technology,San Francisco General Hospital Foundation,California,Health,Gift,"$75,000,000",CA,37.271875,-119.270415
18,2015,Fayez S. Sarofim,Texas,"Family wealth, Finance","Museum of Fine Arts, Houston",Texas,Arts,Gift,"$70,000,000",TX,31.169336,-100.076842
19,2015,Thompson Family Foundation (Wade F.B. Thompson),Ohio,Manufacturing,Park Avenue Armory (New York),New York,Historic preservation,Bequest,"$65,000,000",NY,40.705626,-73.979680
20,2015,Zell Family Foundation (Sam and Helen Zell),Illinois,"Finance, Hotels, Media and entertainment, Real...",U. of Michigan at Ann Arbor,Michigan,Colleges and universities,Pledge,"$60,000,000",MI,44.943560,-86.415805
21,2015,John and Rosemary Brown,Michigan,Health products,Auburn U. (Ala.),Alabama,Colleges and universities,NaN,"$57,000,000",AL,32.601011,-86.680736
22,2015,Miller family,Florida,Construction,"U. of Miami (Coral Gables, Fla.)",Florida,Colleges and universities,NaN,"$55,000,000",FL,27.975728,-83.833017
23,2015,Ray Dolby,California,Technology,U. of Cambridge (United Kingdom),NaN,Colleges and universities,Bequest,"$52,600,000",NaN,NaN,NaN
24,2015,Herbert and Florence Irving,New York,Food and beverage,"Columbia U., Herbert and Florence Irving Medic...",New York,Health,Gift,"$50,000,000",NY,40.705626,-73.979680
25,2015,Nancy and Ab Nicholas,Wisconsin,Finance,U. of Wisconsin Foundation (Madison),Wisconsin,Colleges and universities,Pledge,"$50,000,000",WI,44.786297,-89.826705
26,2015,Peter and Nancy Meinig,Oklahoma,"Finance, Investments","Cornell U. (Ithaca, N.Y.)",New York,Colleges and universities,NaN,"$50,000,000",NY,40.705626,-73.979680
27,2015,Anonymous,NaN,NaN,U. of California at San Francisco,California,Colleges and universities,NaN,"$50,000,000",CA,37.271875,-119.270415
28,2015,Dwight C. and Martha Schar,Florida,"Construction, Finance","Inova Health System (Falls Church, Va.)",Virginia,Health,NaN,"$50,000,000",VA,38.003386,-79.458786
29,2015,Benificus Foundation (John and Ann Doerr),California,Investments,Rice U. (Houston),Texas,Colleges and universities,NaN,"$50,000,000",TX,31.169336,-100.076842
...,...,...,...,...,...,...,...,...,...,...,...,...
3204,2018,Pine,NaN,NaN,Adventure Project (New York),New York,International,Gift,"$1,000,000",NY,40.705626,-73.979680
3205,2018,Pine,NaN,NaN,Free Software Foundation (Boston),Massachusetts,NaN,Gift,"$1,000,000",MA,42.062940,-71.718067
3206,2018,Pine,NaN,NaN,"Methuselah Foundation (Springfield, Va.)",Virginia,Health,Gift,"$1,000,000",VA,38.003386,-79.458786
3207,2018,Pine,NaN,NaN,Justice and Care (India),NaN,International,Gift,"$1,000,000",NaN,NaN,NaN
3208,2018,Pine,NaN,NaN,"OpenMRS (Carmel, Ind.)",Indiana,NaN,Gift,"$1,000,000",IN,39.766219,-86.441277
3209,2018,Pine,NaN,NaN,"Apache Software Foundation (Wakefield, Mass.)",Massachusetts,NaN,Gift,"$1,000,000",MA,42.062940,-71.718067
3210,2018,Pine,NaN,NaN,"Focus Foundation (Davidson, Md.)",Maryland,Health,Gift,"$1,000,000",MD,38.806352,-77.268416
3211,2018,Pine,NaN,NaN,Possible (New York),New York,International,Gift,"$1,000,000",NY,40.705626,-73.979680
3212,2018,Pine,NaN,NaN,"BitGive (Truckee, Calif.)",California,Foundations,Gift,"$1,000,000",CA,37.271875,-119.270415
3213,2018,Pine,NaN,NaN,New Story (San Francisco),California,International,Gift,"$1,000,000",CA,37.271875,-119.270415
3214,2018,Pine,NaN,NaN,Charity: Water (New York),New York,International,Gift,"$1,000,000",NY,40.705626,-73.979680
3215,2018,Pine,NaN,NaN,"SENS Research Foundation (Mountain View, Calif.)",California,Health,Gift,"$1,000,000",CA,37.271875,-119.270415
3216,2018,Pine,NaN,NaN,Internet Archive (San Francisco),California,Other groups,Pledge,"$1,000,000",CA,37.271875,-119.270415
3217,2018,Anonymous,NaN,NaN,U. of Illinois at Urbana-Champaign,Illinois,Colleges and universities,Gift,"$1,000,000",IL,39.739318,-89.504139
3218,2018,Derica Rice and Robin Nelson-Rice,Indiana,Pharmaceuticals,Center for Leadership Development (Indianapolis),Indiana,Children and youths,Gift,"$1,000,000",IN,39.766219,-86.441277
3219,2018,Boy and Betty Toy,Minnesota,NaN,"Gustavus Adolphus College (St. Peter, Minn.)",Minnesota,Colleges and universities,Gift,"$1,000,000",MN,46.441859,-93.365515
3220,2018,Whitney and Betty MacMillan,Minnesota,"Agriculture, Family wealth","McKee Botanical Garden (Vero Beach, Fla.)",Florida,Other groups,Gift,"$1,000,000",FL,27.975728,-83.833017
3221,2018,Tracy Ashlock,Washington,Engineering,U. of Kansas (Lawrence),Kansas,Colleges and universities,Gift,"$1,000,000",KS,38.498779,-98.320078
3222,2018,Denzel Washington,California,Media and entertainment,"Wiley College (Marshall, Tex.)",Texas,Colleges and universities,Pledge,"$1,000,000",TX,31.169336,-100.076842
3223,2018,Anonymous,NaN,NaN,"Mississippi Valley Conservancy (La Crosse, Wis.)",Wisconsin,Conservation and the environment,Gift,"$1,000,000",WI,44.786297,-89.826705
3224,2018,Anonymous,NaN,NaN,High Point U. (N.C.),North Carolina,Colleges and universities,Gift,"$1,000,000",NC,35.214563,-79.891267
3225,2018,Anonymous,NaN,NaN,High Point U. (N.C.),North Carolina,Colleges and universities,Gift,"$1,000,000",NC,35.214563,-79.891267
3226,2018,J.J. Abrams and Katie McGrath,California,Entertainment,National Women's Law Center (Washington),District of Columbia,Other groups,Gift,"$1,000,000",DC,38.899349,-77.014567
3227,2018,Pine,NaN,NaN,Quill (New York),New York,Education,Gift,"$1,000,000",NY,40.705626,-73.979680
3228,2018,Pine,NaN,NaN,Pencils of Promise (New York),New York,International,Gift,"$1,000,000",NY,40.705626,-73.979680
3229,2018,Pine,NaN,NaN,New Story (San Francisco),California,Human and social services,Gift,"$1,000,000",CA,37.271875,-119.270415
3230,2018,Pine,NaN,NaN,"Mona Foundation (Kirkland, Wash.)",Washington,International,Gift,"$1,000,000",WA,38.899349,-77.014567
3231,2018,Pine,NaN,NaN,Charity: Water (New York),New York,International,Gift,"$1,000,000",NY,40.705626,-73.979680
3232,2018,Pine,NaN,NaN,"Water Project (Concord, N.H.)",New Hampshire,International,Gift,"$1,000,000",NH,44.001231,-71.579923
3233,2018,Pine,NaN,NaN,Watsi (San Francisco),California,Health,Gift,"$1,000,000",CA,37.271875,-119.270415

In [38]:
recipient_latlng_df = recipient_coords.rename(columns={"Latitude":"Lat", "Longitude":"Lng"})
recipient_latlng_df.head()

,Year,Donor,Where Donor Lives,Donor's Source of Wealth,Recipient,State,Cause,Gift type,Gift Value,State_Abbreviation,Lat,Lng
0,2015,John Santikos,Texas,Real estate,San Antonio Area Foundation,Texas,Community foundations,Bequest,"$605,000,000",TX,31.169336,-100.076842
1,2015,John A. Paulson,New York,Finance,"Harvard U. (Cambridge, Mass.)",Massachusetts,Colleges and universities,Unrestricted,"$400,000,000",MA,42.062940,-71.718067
2,2015,Stefan Edlis and Gael Neeson,Illinois,Manufacturing,Art Institute of Chicago,Illinois,Arts,Noncash Gift,"$400,000,000",IL,39.739318,-89.504139
3,2015,William H. Scheide,New Jersey,Family wealth,Princeton U. (N.J.),New Jersey,Colleges and universities,Noncash Gift,"$300,000,000",NJ,40.143006,-74.731116
4,2015,David H. Koch,New York,Oil,Memorial Sloan-Kettering Cancer Center (New York),New York,Health,Pledge,"$150,000,000",NY,40.705626,-73.979680

In [39]:
recipient_latlng_df = latlng_df.dropna(how='any')

In [40]:
recipient_latlng_df.dtypes

Year                          int64
Donor                        object
State                        object
Donor's Source of Wealth     object
Recipient                    object
Recipient Location           object
Cause                        object
Gift type                    object
Gift Value                   object
State_Abbreviation           object
Lat                         float64
Lng                         float64
dtype: object

In [50]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [51]:
# Store 'Lat' and 'Lng' into  locations 
locations = latlng_df[["Lat", "Lng"]].astype(float)

#donation_amount = latlng_df["Gift Value"].astype(object)

In [52]:
# map based on the donors state of residence
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, 
                                dissipating=False, max_intensity=100, point_radius = 1)
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius =1 
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Configure gmaps with API key
gmaps.configure(api_key=gkey)

In [55]:
# Store 'Lat' and 'Lng' into  locations 
recipient_locations = recipient_latlng_df[["Lat", "Lng"]].astype(float)

#donation_amount = recipient_latlng_df["Gift Value"].astype(object)

In [56]:
#map based on recipient locations
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(recipient_locations, 
                                dissipating=False, max_intensity=100, point_radius = 1)
heat_layer.dissipating = False
heat_layer.max_intensity = 100
heat_layer.point_radius =1 
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))